.footer {
  margin-top: 40px;
  text-align: center;
}
.btn {
  padding: 10px;
  width: 120px;
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-size: 14px;
}

.btn:hover {background-color: rgb(245, 245, 245);}

.btn:active {
  transform: translateY(4px);
}